<template>
  <div class="container">
    <div class="heading">
      <h1>Location Tracker</h1>
    </div>
    <router-view></router-view>

    <div>
      <button @click="create()" class="btn btn-link">Add Location</button> | <router-link :to="{name: 'locations'}" class="btn btn-link">All Locations</router-link><br>
    </div>
  </div>
</template>

<script>
  export default {
    data() {
      
    },
    methods: {
      create() {
        window.axios.get('/api/locations/create').then(({ data }) => {
          console.log(data);
          if(this.locations){
            alert("Location created successfully");
          }
          else{
            this.locations = data;
          }
      
        }).catch(err=>console.log(err));
      },
    }
  }
</script>

<style>
    .fade-enter-active, .fade-leave-active {
      transition: opacity .5s
    }
    .fade-enter, .fade-leave-active {
      opacity: 0
    }
</style>