<template>
<div class="row justify-content-center">
    <div class="col-md-10">
            <div class="card-header">List of Locations</div>

       
            <div class="card card-body" v-for="loc in locations" :key="loc.id">
            <div class="row">
              <div class=" col col-md-8">
               <h4>Name: {{ loc.name | properCase }} <small class="bg bg-secondary"> {{ loc.location_type | properCase }}</small></h4>
               <p>Address: {{ loc.location_street_address | properCase }}<br>
               {{ loc.location_city | properCase }} , {{ loc.location_state | properCase }} , {{ loc.location_zip_code | properCase }} <br>
               {{ loc.location_country | properCase }}</p>

              </div>
              <div class="col col-md-2"> 
                <router-link :to="{name: 'location_info', params: { id: loc.id } }" class="btn btn-sm btn-primary btn-block">View History</router-link><br>
                <button @click="addInfo(loc.id)" class="btn btn-sm btn-success btn-block">Add Info</button> <br>
                <button @click="del(loc.id)" class="btn btn-sm btn-danger btn-block">Delete Location</button>
              </div>
            </div>
          </div><!-- end each location -->
  
      
      </div>
    </div>

</template>

<script>
  export default {

  data(){
    return {
      locations: {},
      location_id: ''
    }
  },
  created() {
    this.getLocations();
  },
  read() {

  },
 mounted() {
          console.log('Location Component mounted.')
      },    
  methods: {
    update(val) {
      
    },
    del(id) {
      if(confirm('Are you sure you want to delete this location and entire record?'))
      {
        console.log("This is the id to delete"+ id);
        window.axios.delete('/api/locations/'+id).then((data) => {
        let index = this.locations.findIndex(location => location.id === id);
        this.locations.splice(index, 1);
        console.log(data);
        })
        .then(data => {
          alert("Location Deleted");
          this.getLocations();
        })
        .catch(err=>console.log(err));
      }
      
    },
    addInfo(id){
      console.log("This is the id to add"+ id);
      return "/location-info/addInfo(loc.id)";
    },
    /*components: {
      LocationComponent
    }*/
    getLocations(){
        window.axios.get('/api/locations').then(({ data }) => {
          this.locations = data;
        console.log(data)
      
      })
      .catch(err=> console.log(err));

    }
       
  },
  props: ['loc'],
  filters: {
    properCase(string) {
      if (string){
        return string.charAt(0).toUpperCase() + string.slice(1);
      }
      return string ="No data set";    
      }
    }
  }
</script>
