<template>
  <div class="row justify-content-center">
      <div class="col-md-12">
          <div class="card card-default">
              <div class="card-header">Tracking Info History for {{ loc.name | properCase }}</div>

              <div class="card card-body">
            <div class="row">
              <div class=" col col-md-4">
               <h5>Name: {{ loc.name | properCase }} <small class="bg bg-secondary"> {{ loc.location_type | properCase }}</small></h5>
               <p>Address: {{ loc.location_street_address | properCase }}<br>
               {{ loc.location_city | properCase }} , {{ loc.location_state | properCase }} , {{ loc.location_zip_code | properCase }} <br>
               {{ loc.location_country | properCase }}</p>
<hr>
              <div id="add-info-form" v-if="showEditForm">
                  <h6>Edit Tracking Information about {{ loc.name | properCase }}</h6>
                  <form @submit.prevent="editLocationInfo">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Info Type:</label>
                          <input type="text" class="form-control" name="info_type" v-model="loc_edit_info.info_type">
                        </div>
                        <div class="form-group">
                          <label>Info Text:</label>
                          <input type="text" class="form-control" name="info_texts" v-model="loc_edit_info.info_texts">
                        </div>
                      </div>
                      </div>
                      <div class="form-group">
                        <input type="hidden" name="id" :value="loc_edit_info.id">
                        <input type="hidden" name="location_id" :value="loc_edit_info.location_id">
                        <button class="btn btn-primary">Save</button>
                      </div>
                  </form>
                </div>
              </div>
              <div class="col col-md-8">
                <div class="card-header">Notes <button v-on:click="showForm = !showForm" class="small">Click to add</button></div>
                <transition name="fade">
                <div id="add-info-form" v-if="showForm">
                  <h6>Add Tracking Information about {{ loc.name | properCase }}</h6>
                  <form @submit.prevent="addLocationInfo">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label>Info Type:</label>
                          <input type="text" class="form-control" name="info_type" v-model="location_info.info_type">
                        </div>
                        <div class="form-group">
                          <label>Info Text:</label>
                          <input type="text" class="form-control" name="info_texts" v-model="location_info.info_texts">
                        </div>
                      </div>
                      </div>
                      <div class="form-group">

                        <input type="hidden" name="location_id" :value="location_id">
                        <button class="btn btn-primary">Save</button>
                      </div>
                  </form>
                </div>
              </transition>
                <!-- <p v-if:"location_info">No history data found</p> -->
                <ul>
                  <li  class="card card-body" v-for="info in location_history" :key="info.id">{{ info.info_type }} - {{ info.info_texts }}
                    <button @click="EditForm(info)" class="btn btn-link">Edit</button></li>
                </ul>
                
            </div>
          </div>
          </div>
      </div>
  </div>
</div>
</template>

<script>
    export default {
      data(){
        return {
          location_info: {},
          location_history:{},
          loc:{},
          location_id: '',
          showForm : false,
          loc_edit_info: {},
          showEditForm : false
        }
      },
      mounted() {
          console.log('Location info Component mounted.')
      },
      created(){
        this.getLocationInfo(this.$route.params.id);
        //this.getLocationHistory(this.$route.params.id);
      },
      methods: {
        mosueOverInfo(){
          this.showEdit = !this.showEdit;
        },
        getLocationInfo(id){
          let loc_uri = '/api/get-location/'+this.$route.params.id;
          window.axios.get(loc_uri).then(({ data }) => {
            console.log(data.history)
            this.loc = data.location;
            this.location_id = this.loc.id;
            this.location_history = data.history;
          })
          .catch(err=>console.log(err));  
        },
        addLocationInfo(){
          let uri = '/api/save-location-history/'+this.$route.params.id;
          console.log(this.location_info);
          window.axios.post(uri,this.location_info).then(({ data }) => {
            console.log(data)
            this.getLocationInfo(this.location_id);

            this.showForm = false;
         
          })
          .catch(err=>console.log(err)); 
        },
        EditForm(info){
          this.loc_edit_info = info;
          this.showEditForm = !this.showEditForm;
        },
        editLocationInfo(){
          let uri = '/api/location-info/'+this.loc_edit_info.id;
          console.log(this.loc_edit_info);
          window.axios.put(uri,this.loc_edit_info).then(({ data }) => {
            console.log(data)
            alert("Successfully edited location")
            this.getLocationInfo(this.location_id);

            this.showEditForm = false;
         
          })
          .catch(err=>console.log(err)); 
        }      
        
      },
      filters: {
        properCase(string) {
          if (string){
            return string.charAt(0).toUpperCase() + string.slice(1);
          }
          return string ="N/A";    
          }
        }
    }
</script>